.bsui-tabs {
  height: 100%;
}
.bsui-tabs > .bsui-nav {
  height: 42px;
  overflow: hidden;
  position: relative;
}
.bsui-tabs > .bsui-nav > a.bsui-tab-btn {
  display: block;
  width: 16px;
  text-decoration: none;
  text-align: center;
  height: 42px;
  line-height: 42px;
  position: absolute;
  z-index: 99;
  background-color: #e7e5e5;
  border-bottom: 1px solid #dfdfdf;
  color: #555;
  cursor: pointer;
}
.bsui-tabs > .bsui-nav > a.bsui-tab-btn.bsui-btn-left {
  left: 0;
}
.bsui-tabs > .bsui-nav > a.bsui-tab-btn.bsui-btn-right {
  right: 0;
}
.bsui-tabs > .bsui-nav > a.bsui-tab-btn:hover {
  background-color: #dad9d9;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs {
  background: #f2f2f2;
  width: 9999999px;
  left: 0;
  position: absolute;
  z-index: 1;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li {
  position: relative;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li > a {
  margin-right: -1px;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li > a.enable-close {
  padding-right: 25px;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li > a:hover {
  background-color: #dfdfdf;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li.active > a:hover {
  background-color: #fff;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li .btn-close {
  position: absolute;
  width: 16px;
  height: 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 12px;
  top: 2px;
  right: 2px;
  -webkit-transform: scale(0.8);
  color: #888;
  cursor: pointer;
}
.bsui-tabs > .bsui-nav > ul.nav-tabs > li .btn-close:hover {
  background-color: #dfdfdf;
  border-radius: 50px;
  color: #555;
}
.bsui-tabs > .tab-content {
  height: calc(100% - 42px);
}
.bsui-tabs > .tab-content > .tab-pane {
  height: 100%;
  overflow: hidden;
}
.bsui-tabs > .tab-content > .tab-pane iframe {
  width: 100%;
  height: 100%;
  border: none;
}
